{% load static %}

<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Login form</title> 
    <link rel="stylesheet" type="text/css" href="static/login.css">
    
    
</head> 
<body> 

   <div class="login-form-container">
     <div id="close-login-btn" class="fas fa-times"></div>
     <form action="" method="POST">
       {% csrf_token %}
        <h3> Login-in</h3>
        <span>Username</span>
        <input type="email"  class="box" placeholder="Enter Your email:" >
        <span> Password </span>
        <input type="password"  class="box" placeholder="Enter Your password:" >
        <div class="checkbox">
            <input type="checkbox"  id="remember-me">
            <label for="remember-me">Remember-me</label>
        </div>
        <input type="submit" value="sign-in" class="btn" id ="log">
        <p> Forget-password? <a href="#" >Click Here </a></p>
        <p> Don't have an account? <a href="{% url "register" %}">Sign-up</a></p>
     </form>
   </div>
   <script>
    let login=document.getElementById("log");
    login.addEventListener("click",function(e){
      e.preventDefault();
      alert("Successfully login");

  });
   </script>

</body>
</html>